@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --bg: #0a0a0a;
  --bg2: #111111;
  --bg3: #181818;
  --surface: #1e1e1e;
  --border: #2a2a2a;
  --border2: #333333;
  --accent: #d4f03c;
  --accent2: #8aff6b;
  --muted: #5a5a5a;
  --text: #e8e8e0;
  --text2: #a0a09a;
  --text3: #5a5a55;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
}
